
.primary1-btn{
  border-radius: 35px;
    background-color: #4a8631;
    font-family: var(--font-rubik);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    letter-spacing: .48px;
    text-transform: capitalize;
    line-height: 1;
    padding: 15px 34px;
    display: flex;
    align-items: center;
    gap: 7px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
    border-bottom: 2px solid #4a8631;
}

.primary1-btn::after {
  position: absolute;
  content: "";
  border-radius: 30px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
  transform-origin: right;
  transform: scalex(0);
  z-index: -1;
  transition: linear .7s;
}



.icon-btn {
  padding: 12px 12px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  line-height: 0%;
}



.country-btn {
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.alm-btn:hover {
  background-color: #031244;
  border: 1px solid #fff;
}

.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
}

.left>a {
  text-decoration: none;
}

.left>a>h2 {
  font-size: 34px;
  font-weight: bold;
  color: #ee9d06;
}

.center {
  flex: 2;
}

.center .list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.center>.list>.listItem {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  cursor: pointer;
  color: #222;
}

.listItem>a {
  transition: 200ms all;
  text-decoration: none;
  color: inherit;
}

.listItem>a:hover {
  transition: 200ms all;
  color: #ee9d06;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;
}

.right>a {
  text-decoration: none;
  font-size: 22px;
}

.login {
  outline: none;
  border: 1px solid transparent;
  color: #fff;
  background-color: #ee9d06;
  padding: 0.5rem 1.5rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 150ms all;
}

.login:hover {
  background-color: #fff;
  color: #ee9d06;
  border-color: #ee9d06;
}

.signup {
  transition: 150ms all;
  color: #000;
}

.signup:hover {
  color: #555;
}


.navibar {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  transition: all .8s ease-out 0s;
  background: hsla(0, 0%, 100%, .2);
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
  max-width: 1780px;
  width: 100%;
  margin: 0 auto;
  border-radius: 300px;
  /* background-color: #031244!important; */
  /*display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  z-index: 999; */

}

.navibar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  background: #1d1d23;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  z-index: 999;
  border-radius: 0;
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .navibar{
    padding: 0 3%;
    max-width: 1380px;
  }
  .navibar.sticky {
    max-width: 100%;
  }
}


@media (max-width: 1399px) {
  .navibar {
      padding: 0 2%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .navibar {
      max-width: 1180px;
  }
}

@media (max-width: 900px){
  .navibar {
      max-width: 700px;
  }
}

@media (max-width: 991px) {
  .navibar {
      top: 0;
      padding: 0 30px;
  }
}
.service-navibar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  transition: all .8s ease-out 0s;
  background: #1d1d23;
  border: 1px solid hsla(0, 0%, 100%, 0.15);
  -webkit-backdrop-filter: blur(1.5px);
    backdrop-filter: blur(1.5px);
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  /* background-color: #031244!important; */
  /*display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  z-index: 999; */

}

.service-navibar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  background: #1d1d23;
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  z-index: 999;
}

@media (min-width: 1400px) and (max-width: 1599px) {
  .service-navibar{
    padding: 0 3%;
  }
}


@media (max-width: 1399px) {
  .service-navibar {
      padding: 0 2%;
  }
}


@media (max-width: 991px) {
  .service-navibar {
      top: 0;
      padding: 0 30px;
  }
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media only screen and (min-width: 960px) {
  .lg\:mx-5 {
    margin-right: 3rem;
    margin-left: 3rem;
  }

}

@media only screen and (min-width: 1560px) {
  .xl\:mx-8 {
    margin-right: 8rem;
    margin-left: 8rem;
  }

}

@media only screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .md\:mx-2 {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }


  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0 0 200px 0;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 25%;
    right: 6%;
    /* transform: translate(-100%, 60%); */
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media only screen and (max-width: 576px) {
  .xs\:me-0 {
    margin-right: 0;
  }
}



header.style-2.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .8);
  -webkit-backdrop-filter: blur(1.5px);
  backdrop-filter: blur(1.5px);
  z-index: 999;
}