
.banner-section {
    background-image:linear-gradient(180deg, #202f59, #202f59);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 8.5%;
    position: relative;
    z-index: 1
}

@media (min-width:1400px) and (max-width:1599px) {
    .banner-section {
        padding: 0 5%
    }
}

@media (min-width:1200px) and (max-width:1399px) {
    .banner-section {
        padding: 0 2%
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .banner-section {
        padding: 0 20px
    }
}

@media (max-width:991px) {
    .banner-section {
        padding: 50px 20px
    }
}

.banner-section .single-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0
}

@media (max-width:991px) {
    .banner-section .single-contact {
        padding: 0
    }
}

.banner-section .single-contact .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--primary-color2);
    box-shadow: 0 0 20px var(--primary-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px
}

.banner-section .single-contact .icon svg {
    fill: var(--white-color)
}

@media (min-width:992px) and (max-width:1199px) {
    .banner-section .single-contact .icon {
        margin-bottom: 20px
    }
}

.banner-section .single-contact .content {
    text-align: center
}

.banner-section .single-contact .content span {
    color: var(--primary-color2);
    font-family: var(--font-rubik);
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    display: block;
    margin-bottom: 15px
}

@media (min-width:992px) and (max-width:1199px) {
    .banner-section .single-contact .content span {
        font-size: 18px;
        margin-bottom: 10px
    }
}

.banner-section .single-contact .content a {
    color: var(--white-color);
    font-family: var(--font-rubik);
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .75px;
    transition: .5s
}

@media (max-width:1199px) {
    .banner-section .single-contact .content a {
        font-size: 22px
    }
}

.banner-section .single-contact .content a:hover {
    color: var(--primary-color2)
}

.banner-section .single-contact.green .icon {
    background-color: var(--primary-color1);
    box-shadow: 0 0 20px var(--primary-color1)
}

.banner-section .single-contact.green .content span,
.banner-section .single-contact.green a:hover {
    color: var(--primary-color1)
}

.banner-section .banner6-content {
    padding: 75px 70px;
    text-align: center;
    border-left: 1px solid hsla(0, 0%, 100%, .2);
    border-right: 1px solid hsla(0, 0%, 100%, .2)
}

@media (min-width:992px) and (max-width:1199px) {
    .banner-section .banner6-content {
        padding: 75px 30px
    }
}

@media (max-width:991px) {
    .banner-section .banner6-content {
        border: unset;
        padding: 0
    }
}

.banner-section .banner6-content h2 {
    color: var(--white-color);
    font-family: var(--font-rubik);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 5px
}

@media (min-width:992px) and (max-width:1199px) {
    .banner-section .banner6-content h2 {
        font-size: 36px
    }
}

@media (max-width:576px) {
    .banner-section .banner6-content h2 {
        font-size: 30px
    }
}

.banner-section .banner6-content p {
    color: var(--white-color);
    font-family: var(--font-rubik);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .16px;
    margin-bottom: 20px
}

@media (max-width:576px) {
    .banner-section .banner6-content p {
        font-size: 15px
    }
}

.banner-section .banner6-content .from-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid var(--primary-color1);
    border-radius: 10px
}

.banner-section .banner6-content .from-inner input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
    font-size: 12px;
    font-family: var(--font-rubik);
    width: 100%;
    height: 48px;
    padding: 10px 20px
}

.banner-section .banner6-content .from-inner input::placeholder {
    color: hsla(0, 0%, 100%, .4)
}

.banner-section .banner6-content .from-inner button {
    background-color: var(--primary-color1);
    padding: 9px 16px;
    border-radius: 0 10px 10px 0
}

.banner-section .banner6-content .from-inner button svg {
    stroke: var(--white-color)
}

.banner-section .vector1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

.banner-section .vector2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1
}