* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat,Basier Circle,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  user-select: none;
  scroll-behavior: smooth;
}








.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('../public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/*
.sign-up {
  background-image: url('../public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
*/
/* Destination page*/


/*Sign up Page*/
.form-modal__container {
  margin: 0 0.5rem;
}
.form-modal__wrapper {
  display: flex;
  justify-content: center;
  max-width: 900px;
  height: 500px;
  margin: 4rem auto;
}

.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 350px;
  height: inherit;
  border-radius: 10px 0 0 10px;
}

.sign-up > img {
  object-fit: cover;
  width: auto;
  height: auto;
}

.sign-up__container {
  background: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border-radius: 0 10px 10px 0;
  justify-content: center;
}

.sign-up__container > h2 {
 font-size: 3rem;
 margin-bottom: 2rem;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.sign-up__form > label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}


.sign-up__form > input {
  margin-bottom: 1rem;
  padding: 0.6rem;
}

.sign-up__form .btn-sign {
  padding: 12px 26px;
  width: fit-content;
  margin: 1.5rem auto 0;
  border-radius: 2px;
  font-size: 20px;
  border: 1px solid #242424;
  background-color: #242424;
  color: #fff;
  cursor: pointer;
}

.sign-up__form .btn-sign:hover {
  color: #242424;
  background-color: #fff;
}

.have-account {
  font-size: 0.9rem;
  color: #5a5a5a;
}

.have-account span {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 798px) {
  .destination-container h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}


.main-button {
  display: flex;
  align-items: flex-end;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
  padding-left: 15px;
}

.main-button {
  position: relative;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
  z-index: 1;
  border-radius: 25px;
  height: max-content;
  text-decoration: none;
}

.main-button:hover,
.main-button:focus {
  color: white;
}

.main-button::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #218838;
  transform-origin: right;
  transform: scalex(0);
  z-index: -1;
  transition: transform 0.5s ease-out;
  border-radius: 25px;
}

.main-button:hover::after,
.main-button:focus::after {
transform-origin: left;
  transform: scalex(1);
}

.main-button:hover,
.main-button:focus {
color: white;
}

.main-button:not(:hover)::after {
transform-origin: right;
  transform: scalex(0);
}